body{
	background-color: purple;
	text-align: center;
	
}

p{
	color: white; 
	font-size: 175%;
	border:1px solid green;
	border-radius: 10px;
	background-color: black;
}

h1{
	font-size: 22px;
	font-family: aria;
	color: white;
}
h2, a{
	color: white;
}

.höger{
	text-align: right;
}
a{
	text-decoration: none;
}